albumentations==1.1.0
catboost==1.0.0
efficientnet_pytorch==0.7.1
imbalanced_learn==0.8.1
imblearn==0.0
ipython
joblib==1.0.1
librosa==0.8.1
lightgbm==3.2.1
matplotlib
numpy==1.19.5
opencv_contrib_python==4.5.3.56
pandas
Pillow==8.4.0
pretrainedmodels==0.7.4
resnest==0.0.5
scikit_learn
scipy
SoundFile==0.10.3.post1
tensorflow==2.6.0
timm==0.4.12
torch==1.9.1
torchvision==0.10.1
tqdm==4.62.3
xgboost==1.4.2
